@use 'colors';

:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: colors.$bg;
    color: colors.$fg;
  }

  div,
  nav {
    display: flex;
  }
}

.app {
  flex-direction: column;
  width: 100%;
}
