@use 'colors';

@font-face {
  font-family: 'Lora';
  font-style: normal;
  src: url('/fonts/lora_variable.ttf') format('opentype');
}

:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: colors.$bg;
    color: colors.$fg;
    font-size: 18px;
  }

  div,
  nav {
    display: flex;
  }
}

.app {
  flex-direction: column;
  width: 100%;
}
